---
import LogoShape from '../../../public/Vivrithi_logo.svg';
---
<main class="overflow-hidden relative">
    <div class="container px-4 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 transform  text-[#fff]">
        <h1 class="font-heading text-[24px] md:text-[44px] leading-[28px] md:leading-[50px] mb-0 md:mb-3">Grow your wealth<br/>
with confidence</h1>
<p class="text-[13px] sm:text-[18px] leading-[20px] sm:leading-[28px]">Professionally-managed private credit funds<br/>designed to diversify and strengthen your portfolio.</p>
    </div>
    <img src="../../../public/banner_invest.png" />
    <img src="../../../public/logo_blue.png" class="absolute z-[9] top-[20px] h-[90%] left-[30px] opacity-40" />
</main>