---
import Header from '../components/common/Header.astro';
import GetInTouch from '../components/common/HomeGetInTouch.astro'
import BannerIntro from '../components/home/BannerIntro.astro';
import Banner from '../components/home/Banner.astro';
import Footer from '../components/common/Footer.astro';
import Layout from '../layouts/Layout.astro';
import AssetManagement from '../components/home/AssetManagement.astro';
import Testimonials from '../components/home/Testimonials.astro';
import TestimonialsLeader from '../components/home/TestimonialsLeader.astro'
import Insights from '../components/home/Insights.astro';
import MilestonesMarket from '../components/home/MilestonesMarket.astro';
import Transforming from '@/components/home/Transforming.astro';
import DrivingImpact from '@/components/home/DrivingImpact.astro';
import GlobalCapital from '@/components/home/GlobalCapital.astro';
import TailoredCapital from '@/components/home/TailoredCapital.astro';
import SwiperSlider from "../components/common/SwiperSlider";

const slides = [
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" },
  { img: "/images/slide1.jpg", title: "Accessing growth capital is just one hurdle for India’s mid-market enterprises.",cname:"John Doe",designation:"CTO, Ailitic",location:"Bangalore, India" }
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
	<Header />
	<BannerIntro />
	<GetInTouch/>
	<Banner />
	<Transforming />
	<DrivingImpact />
	<TailoredCapital />
	<GlobalCapital />	
	<AssetManagement />
	<!-- <section class="py-12">
		
		<div data-reveal class="fade-up testimonials">
			<SwiperSlider slides={slides} client:only="react" />
		</div>
	</section> -->
	<Insights />
	<!-- <Testimonials />  -->
	<TestimonialsLeader/>
	<MilestonesMarket/>



	<Footer />
</Layout>
