---
import MarkedShape from '../../../public/MarkedShape.svg';
---
<div class="bg-white">
    <div class="container mx-auto px-4">
  <div data-reveal class="fade-up flex flex-wrap">
    <div class="w-full">
      <!-- Column 1 content -->
      <div class="px-8 border_full_side relative">

    <!-- Paragraph -->
    <div class="pt-[25px] flex justify-start flex-col items-start">
        <h2 class="text-[28px] md:text-4xl font-heading leading-snug mb-4 gradient-text">
      Driving Impact by Numbers  
    </h2>


<div class="finance_enabled bg-[#D8F1F9] w-full flex p-5 justify-between flex-col md:flex-row">
    <h3 class="text-lg uppercase text-[#1B1B1B] font-bold mt-[-8px]">finance enabled</h3>
    <h2 class="text-[24px] md:text-[35px] font-heading leading-snug gradient-text">₹57,500+ cr</h2>
</div>

<div class="assets_under bg-[#DDDDDD] md:w-[78%] w-full flex flex-col md:flex-row p-5 justify-between mt-0 md:mt-[-40px]">
    <h3 class="text-lg uppercase text-[#1B1B1B] font-bold mt-[-8px]">Assets Under Management (AUM)</h3>
    <h2 class="text-[24px] md:text-[35px] font-heading leading-snug gradient-text">₹13,000+ cr</h2>
</div>

<div class="enterprises_supported bg-[#00018A] md:w-[57%] w-full flex p-5 flex-col md:flex-row justify-between mt-0 md:mt-[-40px]">
    <h3 class="text-lg uppercase text-white font-bold mt-[-8px]">enterprises supported</h3>
    <h2 class="text-[24px] md:text-[35px] font-heading leading-snug gradient-text2">500+</h2>
</div>

<div class="sectors_served bg-[#BFBFE1] md:w-[45%] w-full flex flex-col md:flex-row p-5 justify-between mt-0 md:mt-[-40px]">
    <h3 class="text-lg uppercase font-bold mt-[-8px]">sectors served</h3>
    <h2 class="text-[24px] md:text-[35px] font-heading leading-snug gradient-text">55+ </h2>
</div>

<div class="years_business bg-[#F8F8F8] md:w-[35%] w-full flex flex-col md:flex-row p-5 justify-between mt-0 md:mt-[-40px]">
    <h3 class="text-lg uppercase font-bold mt-[-8px]">years in business</h3>
    <h2 class="text-[24px] md:text-[35px] font-heading leading-snug gradient-text">8+ </h2>
</div>

    <img src={MarkedShape.src} alt="Vivrithi" class="absolute right-[35px] bottom-[-130px] hidden md:block" />
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<style>
.border_full_side{
    border: dashed 1px #F58220;
}
</style>