---
import LogoShape from "../../../public/Vivrithi_logo.svg";
---
<div class="map_background relative" id="leadgen">
    <div class="container mx-auto h-full flex flex-col md:flex-row gap-4">
        <!-- Left column (66%) -->
        <div class="w-full md:w-1/2 p-4 py-15">
            <h2 class="text-[35px] mt-3 w-[70%] leading-[40px] font-heading gradient-text">What can we do for you</h2>
            <p>Have a question, collaboration idea, or advisory request? 
Our team is here to guide you with expert guidance and prompt responses.
</p>
        </div>

        <!-- Right column (33%) -->
        <div class="w-full md:w-1/2 p-10 pb-18">
            <p class="text-center">Solutions designed for you.<br/>
                <b>Start by choosing your segment</b></p>
            <form class="pt-5">
                <div class="form_element_1">
                    <input type="text" value="" placeholder="Name*" />
                </div>
                <div class="form_element_1">
                    <input type="text" value="" placeholder="Phone" />
                </div>
                <div class="form_element_1">
                    <input type="text" value="" placeholder="Email*" />
                </div>
                <div class="form_element_1">
                    <input type="text" value="" placeholder="Organization" />
                </div>
                <div class="form_element_1">
                    <input type="text" value="" placeholder="Message*" />
                </div>
                <button class="contact_cta flex justify-center items-center gap-2 text-white uppercase py-2 w-full text-[14px]">
                <span data-text="Contact Us">Contact Us</span>
                <img src={LogoShape.src} class="w-5 h-5" />
                </button>
            </form>
        </div>
    </div>
</div>

<style>
.map_background {
    background-size: cover;
    background-position: center;
    background-color: #F5FCFE;
}
.map_background input{
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 20px;
}
</style>
