---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:pt-[70px] pt-[40px] ">
  <div class="container mx-auto px-4 xl">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 md:px-4"
    >
      <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-2/12"
      >
        Key features
      </h2>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-2 gap-15 ">
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">01</div>
                <h3 class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text">Real-time visibility<br/> and control</h3>
                <div class="mt-2 mb-5 desc text-sm md:text-lg">
                  Track utilisation across group, facility, or entity level. Dashboards display exposure, repayments, and delinquencies.
                </div>
        </div>
         <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">02</div>
                <h3 class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text">Compliance and governance<br/> built-in</h3>
                <div class="mt-2 mb-5 desc text-sm md:text-lg">
                  Support for RBI and credit committee reporting. Real-time exposure tracking, regulatory caps, and custom audit reports.
                </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">03</div>
                <h3 class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text">Future-ready <br/>integrations</h3>
                <div class="mt-2 mb-5 desc text-sm md:text-lg">
                  Smart document tagging, third-party e-sign automation, and workflows designed to evolve with market needs.
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

