---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:pt-[70px] pt-[40px] bg-[#F5FBFD]">
  <div class="container mx-auto px-4 xl">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 md:px-4"
    >
      <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-2/12"
      >
        Value delivered
      </h2>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-3 gap-15 ">
        <div class="w-full relative">
          
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal mt-4 uppercase min-h-auto md:min-h-[90px]">Comprehensive Risk Profiling</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  360° due diligence combining bank statements, CIBIL, and crime checks.
                </div>
        </div>
         <div class="w-full">
          
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
        
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal mt-4 uppercase min-h-auto md:min-h-[90px]">Comprehensive Risk Profiling</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  360° due diligence combining bank statements, CIBIL, and crime checks.
                </div>
        </div>
        <div class="w-full">
          
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          
                 <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal mt-4 uppercase min-h-auto md:min-h-[90px]">Comprehensive Risk Profiling</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  360° due diligence combining bank statements, CIBIL, and crime checks.
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

