---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
--- 
 <div class="w-full">
    <div class="relative overflow-hidden">
    <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between items-center md:gap-10 mb-4 md:mb-20"
    >
      <div class="w-full md:w-9/12">
        <h4 class="uppercase text-[14px] text-[#F58220] mb-4">PORTAL AND TRITON</h4>
         <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-8 gradient-text w-full"
      >
       Streamlining supply chain finance end-to-end
      </h2>
       <p data-reveal class="fade-up font-normal text-[17px] w-full">
        Built for speed, compliance, and scale, Portal and Triton is an API-first Supply Chain Finance Loan Origination System (SCF LOS) that streamlines onboarding, underwriting, and loan approvals for supply chain partners. The platform supports anchor-led programs, counterparty-driven finance, and flexible buyer or seller workflows, delivering operational efficiency, transparency, and compliance.
      </p>

      <p data-reveal class="fade-up font-normal text-[17px] w-full">
        <p class="uppercase my-7">Portal</p>
        Portal is an integrated SCF Loan Origination and Portal system that enables real-time invoice requests, approvals, and payments via virtual accounts. Lenders and anchors can onboard, track, and manage transactions, while counterparties can submit invoices, receive payments, and download Statements of Account (SOAs). The system automates compliance, generates sanction letters, and supports anchor-led products as well as counterparty-driven financing.
      </p>

      <p>
      <p class="uppercase my-7">Triton</p>
        Triton complements Portal by providing a robust backend engine for underwriting, credit evaluation, and loan approval. It integrates seamlessly with LMS systems and future-ready modules such as co-lending and refinancing. Triton ensures smart credit decisions, reduces manual intervention, and provides end-to-end visibility and control over SCF operations.
      </p>
      
      </div>
      <div class="w-full hidden md:block md:w-3/12">
        <div class="w-full md:flex justify-end hidden">
          <img src={LogoShape1.src} class="max-w-[450px] w-full h-auto" />
        </div> 
    </div>
    </div>
   
  </div>
   <!-- <div class="w-full md:flex justify-end hidden absolute xl:-top-[10px] -right-10 z-0">
          <img src={LogoShape1.src} class="xl:min-w-[400px] lg:min-w-[350px] h-auto" />
        </div> -->
  </div>
 </div>
 